.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.containerCard {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin: 50px;
  width: 500px;
}

.audio {
  margin: 15px;
}

input {
  background-color: white;
  height: 15px;
  outline: none;
  width: 15px;
}
